<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrap">
<!-- main begin-->
  <div class="sale">
    <h1 class="lf">在线拍卖系统</h1>
    <div class="logout right"><a href="/doLoginOut" title="注销">注销</a></div>
  </div>
  <div class="forms">
    <form method="post" action="/findAuction"  id="queryForm">
      <!--页码  隐藏页-->
      <input type="hidden" name="pageNum" id="pageNum">
      <label for="name">名称</label>
      <input name="auctionname" type="text" class="nwinput" id="name" th:value="${queryAuction.auctionname}"/>
      <label for="names">描述</label>
      <input name="auctiondesc" type="text" id="names" class="nwinput" th:value="${queryAuction.auctiondesc}"/>
      <label for="time">开始时间</label>
      <input name="auctionstarttime" type="date" id="time" class="nwinput" th:value="${queryAuction.auctionstarttime}"/>
      <label for="end-time">结束时间</label>
      <input name="auctionendtime" type="date" id="end-time" class="nwinput" th:value="${queryAuction.auctionendtime}"/>
      <label for="price">起拍价</label>
      <input name="auctionstartprice" type="text" id="price" class="nwinput" th:value="${queryAuction.auctionstartprice}"/>
      <input  type="submit"  value="查询" class="spbg buttombg f14  sale-buttom"/>
    </form>
    <span th:if="${session.loginUser.Userisadmin==1}">
      <input type="button" onclick="location='toaddAuction'" value="发布" class="spbg buttombg f14  sale-buttom buttomb"/>
    </span>

    <span th:if="${session.loginUser.Userisadmin==0}">
      <input type="button" onclick="location='toAuctionResult'" value="竞拍记录" class="spbg buttombg f14  sale-buttom buttomb"/>
    </span>
  </div>
  <div class="items">
      <ul class="rows even strong">
        <li>名称</li>
        <li class="list-wd">描述</li>
        <li>开始时间</li>
        <li>结束时间</li>
        <li>起拍价</li>
        <li class="borderno">操作</li>
      </ul>
      <ul class="rows" th:each="auction: ${auctionList}">

        <li><a href="国书" title="" th:text="${auction.auctionname}"></a></li>
        <li class="list-wd" th:text="${auction.auctiondesc}"></li>
        <li th:text="${#dates.format(auction.auctionstarttime,'yyyy-MM-dd')}"></li>
        <li th:text="${#dates.format(auction.auctionendtime,'yyyy-MM-dd')}"></li>
        <li th:text="${auction.auctionstartprice}"></li>
        <li class="borderno red">
          <span th:if="${session.loginUser.Userisadmin==1}">
            <a href="#" title="修改" onclick="dele();"  >修改</a>|
            <a th:href="@{/del/}+@{${auction.auctionid}}" title="删除" onclick="abc();">删除</a>
          </span>

          <span th:if="${session.loginUser.Userisadmin==0}">
            <a th:href="@{/toDetail/}+@{${auction.auctionid}}" title="竞拍" >竞拍</a>
          </span>
        </li>
      </ul>
    <div class="page">
      【当前第<span th:text="${pageInfo.pageNum}"></span>页,
      总计<span th:text="${pageInfo.pages}"/>页,
      总记录<span th:text="${pageInfo.total}"/>条】
      <a href="#" title="" th:onclick="jumpPage(1)">首页</a>
      <a href="#" title="" th:onclick=" 'jumpPage(' + ${pageInfo.prePage} + ')' ">上一页</a>
      <a href="#" title="" th:onclick=" 'jumpPage(' + ${pageInfo.nextPage} + ')'">下一页</a>
      <a href="#" title="" th:onclick=" 'jumpPage(' + ${pageInfo.pages} + ')'">尾页</a>
    </div>
  </div>
  <script>

    // 加载点击事件
    function jumpPage(page_num){
      //修改表单页码
      document.getElementById("pageNum").value = page_num;
      //提交表单
      document.getElementById("queryForm").submit();
    }
   function abc(){
	   
	   if(confirm("你真的确认要删除吗？请确认")){
	    
		   return true;
		 }
		 else{
			 return false;
			 }
			 
	   };
	   function dele(){
		   if(confirm("你真的确认要修改吗？请确认")){
			   return true;
			   }
			   else{
				   return false;
				   }
		   }
  </script>
<!-- main end-->
</div>
</body>
</html>
